<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/home/vendor/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/home/vendor/font-awesome/css/font-awesome.min.css' %}" />
  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom fonts for this template -->
  <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <!-- <link href="css/landing-page.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{% static '/home/landing-page.css' %}" />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">| CaribCo |</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="intro-header">
    <div class="container">
      <div class="intro-message">
        <h1>Caribbean Co-working spaces</h1>
        <h5></h5>
        <!--<hr class="intro-divider"> -->
        <ul class="list-inline intro-social-buttons">
          <!--            <li class="list-inline-item">
              <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">About Us</span>
              </a>
            </li>
-->
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
              <!--  <i class="fa fa-github fa-fw"></i> -->
              <span class="network-name">Find out more</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
              <!--<i class="fa fa-linkedin fa-fw"></i>-->
              <span class="network-name">Register interest</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <section class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">What is CaribCo?
            <br>
          </h2>
          <p class="lead">
            Our mission is to provide a progressive living and work environment for creatives and digital nomads. Our shared office space
            provides your own dedicated desk-space and all the facilities you’d expect. But, beyond that, you’ll have the
            opportunity to interact with others to help you develop ideas and co-create. You become an independent part of
            a thriving, creative, energetic, co-working and living community. Our spaces are dedicated to freelancing designers,
            developers, web designers, programmers, video artists, game developers, and more…

          </p>
        </div>
        <div class="col-lg-5 mr-auto">
          <!--<img class="img-fluid" src="img/definition.jpg" alt=""> -->
        </div>
        <p class="lead">
          <!--a target="_blank" href="http://bbc.com/">BBC</a>-->
        </p>
      </div>

    </div>
    <!-- /.container -->
  </section>

  <section class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 mr-auto order-lg-2">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Co-working
            <br>
          </h2>
          <p class="lead">Follow your dreams. Join the global movement that's redefining the way we live, work and learn</a>
          </p>
        </div>
        <div class="col-lg-5 ml-auto order-lg-1">
          <img class="img-fluid" src="{% static '/home/img/office.jpg' %}" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </section>

  <section class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 ml-auto">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Co-living</h2>
          <p class="lead">Whether you're flying solo, on a corporate retreat or with family in tow, we'll help you set the foundation for
            a life changing experience</p>
        </div>
        <div class="col-lg-5 mr-auto ">
          <img class="img-fluid" src="{% static '/home/img/Huts.jpg' %}" alt="">
        </div>
      </div>

    </div>

  </section>

  <section class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 mr-auto order-lg-2">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Co-learning
            <br>
          </h2>
          <p class="lead">
            Expand your career. Widen your horizon. Explore your sense of what's possible. For you and the world we live in. Come learn
            from industry luminaries in our international community.
          </p>
        </div>
        <div class="col-lg-5 ml-auto order-lg-1">
          <img class="img-fluid" src="{% static '/home/img/seminar.jpg' %}" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </section>

  <section class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 ml-auto">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Co-giving</h2>
          <p class="lead">We actively encourage our community of creative professionals to participate and give back to the local community
            in the form of training, workshops and mentoring. Contact us to learn more on how you can contribute to this
            growing community.</p>
        </div>
        <div class="col-lg-5 mr-auto ">
          <img class="img-fluid" src="{% static '/home/img/labpan.jpg' %}" alt="">
        </div>
      </div>

    </div>

  </section>

  </aside>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <!-- /.content-section-a -->
    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2>Contact us to learn more and discover the benefits of coworking:</h2>
            <h5></h5>

            <!---FORM----------------------->

            <!--
<form role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Your name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Your email">
    </div>
    <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
-->
            </form>
            <form role="form" sheetsu="YOUR_SHEETSU_URL" action="/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your name" name="name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your email" name="email">
              </div>
              <div class="form-group">
                <textarea cols="30" rows="10" class="form-control" placeholder="Your message" name="message"></textarea>
              </div>
              <input type="submit" class="btn btn-primary btn-lg" value="submit">
            </form>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <!--                      <a href="#" class="btn btn-secondary btn-lg">
                        <i class="fa fa-github fa-fw"></i>
                        <span class="network-name">Github</span>
-->
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">Linkedin</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/home/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/home/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static '/home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- <script src="vendor/popper/popper.min.js"></script> -->
  <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->

</body>

</html>